@charset "UTF-8";
* { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; color:inherit; }
html, body { margin:auto; height:100%; }
body { font-size:1em; line-height:1.4em; font-family:serif; text-align:left; color:#222; background-color:#ddd; padding-left:1.85em; padding-right:1.85em; }
body{ margin-top:1px; min-width:21em; max-width:32em; }
@media only screen and (max-device-width: 480px) {
	body { margin-top:0px; width:18em; min-width:0; max-width:none; }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
	body{ margin-top:0px; width:32em; min-width:0; max-width:none; font-size:125%; }
}
h1 { font-size:1.5em; }
h2 { font-size:1.3em; }
h1, h2 { text-transform:uppercase; letter-spacing:1px; font-weight:bold; font-family:sans-serif; }
div#header h1, div#header h2 { text-align:center; }
div#header h2 { font-size:0.7em; }
h1, h2, p, ul, ol, div, pre, hr, blockquote { margin-bottom:0.7em; }
a{ color:#111; text-decoration:inherit; border-bottom: #BBB solid 1px; }
a:hover{ border-bottom: #00C solid 1px; }
nav a { text-decoration:none; }
ul { list-style:circle; }
abbr { text-transform:uppercase; font-size:0.9em; line-height:100%; }
tt, code, pre { font-family:monospace; font-size:15px; }
header { padding-top:1.4em; padding-bottom:0.5em; border-bottom:solid; border-width:1px; border-color:#444; margin-bottom:0.7em; }
header nav { display:inline-block; }
p { text-align:justify; }
hr { border-bottom: #444 solid 1px; width: 80%; margin-left: auto; margin-right: auto; }
blockquote { margin-left: 1.5em; margin-top:1.5em; }
blockquote:before { color: #aaa; content: open-quote; font-size: 3.5em; line-height: 0.1em; margin-right: 0.15; vertical-align: -0.3em; }
blockquote p { display: inline; }
sup { font-size:80%; vertical-align:3px; line-height: 14px; }
